---
const site = Astro.site || 'https://dogexperttech.github.io';
const target = '/sitemap-index.xml';
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sitemap</title>
  <meta http-equiv="refresh" content="0; url=/sitemap-index.xml">
  <link rel="canonical" href="/sitemap-index.xml">
</head>
<body>
  <p><a href="/sitemap-index.xml">Sitemap</a></p>
</body>
</html>
